*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/midnight\ train.jpg');
    font-family: 'PT Mono', monospace; 
    background-size: cover;
    background-position: center;
}


main{
    height: 100vh;
}

.biglietteria{

    border-radius: 10px;
    width: 30%;
    background-image: url('../img/blkmarket-vintage-chroma-scrap-pack\ \(70\).jpg');
    background-size: cover;
    padding: 50px 0;
    margin: 0 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.701);
    
}