*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Mono', monospace; 
}


main{
    height: 100vh;
}

.biglietteria{

    border-radius: 10px;
    width: 30%;
    background-color: red;
    padding: 50px 0;
    margin: 0 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price{
    margin: 0 auto;
    background-color: white;
    color: green;
}